@font-face {
  font-family: 'Arial';
  src: local("Arial"),
    url("app/assets/fonts/ArialCE.woff2") format('woff2'),
    url("app/assets/fonts/ArialCE.woff") format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Arial';
  src: local("Arial"),
  url("app/assets/fonts/arialceb.woff2") format('woff2'),
  url("app/assets/fonts/arialceb.woff") format('woff');
  font-weight: 700;
}

html, body {
  font-family: 'Arial', sans-serif;
	font-size: var(--font-size-16);
	color: $color--black;
	line-height: 1;
}

h2 {
  font-family: "Arial", sans-serif;
  font-weight: 700;
  font-size: 56px;
}

.container {
  max-width: 1708px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;

	@media screen and (width <= 767) {
		padding: 0 16px;
	}
}