$color--white: #fff;
$color--brand: #003B45;
$color--brand2: #0499BA;
$color-grey-1: #f3f3f3;
$color-grey-2: #d0d0cf;
$color--black: #111;
$color--black-2: #212121;


// fonts
:root {
  --text-heading: 56px;
  --font-size-36: 36px;
  --font-size-26: 26px;
  --font-size-24: 24px;
  --font-size-20: 20px;
  --font-size-18: 18px;
  --font-size-16: 16px;
}
