<section class="advantages">
    <div class="advantages-column">
        <h2 class="advantages-title">
            ПОЧЕМУ <br>RALF RINGER?
        </h2>
        <div class="advantages-column__block">
            <p class="advantages-column__block-description">
                Мы стремимся делать лучшую обувь для всей семьи. Мы работаем честно, профессионально и гордимся
                результатами своего труда. Справедливость, командный дух и семейные ценности неотъемлемые части нашей
                Корпоративной Культуры.
            </p>
            <p class="advantages-column__block-call">
                Если для Вас это также важно – присоединяйтесь<br>
                к нашей Команде!
            </p>
        </div>
    </div>
    <div class="advantages-column">

    </div>


</section>