<section class="benefits">
    <div class="benefits-column">
        <h2 class="benefits-column__title">RALF RINGER СЕГОДНЯ</h2>
        <p class="benefits-column__description">
            Это крупнейший российский производитель и один из самых узнаваемых брендов! Наши фабрики расположены в
            Москве, Владимире, Зарайске и Талдоме, а магазины Фирменной розничной сети – более чем в 50 городах России.
        </p>
        <div class="benefits-column__block">
            
        </div>
    </div>
    <div class="benefits-column"></div>
</section>