<div class="boots-line">
  <div class="boots-line__wrapper">
      <div class="boots-line__inner">
        <span class="boots-line__text">ДЕЛАЕМ ОБУВЬ С 1996 ГОДА</span>
        <div class="boots-line__dot"></div>
        <span class="boots-line__text">ДЕЛАЕМ ОБУВЬ С 1996 ГОДА</span>
        <div class="boots-line__dot"></div>
        <span class="boots-line__text">ДЕЛАЕМ ОБУВЬ С 1996 ГОДА</span>
        <div class="boots-line__dot"></div>
        <span class="boots-line__text">ДЕЛАЕМ ОБУВЬ С 1996 ГОДА</span>
        <div class="boots-line__dot"></div>
        <span class="boots-line__text">ДЕЛАЕМ ОБУВЬ С 1996 ГОДА</span>
        <div class="boots-line__dot"></div>
        <span class="boots-line__text">ДЕЛАЕМ ОБУВЬ С 1996 ГОДА</span>
        <div class="boots-line__dot"></div>
        <span class="boots-line__text">ДЕЛАЕМ ОБУВЬ С 1996 ГОДА</span>
        <div class="boots-line__dot"></div>
        <span class="boots-line__text">ДЕЛАЕМ ОБУВЬ С 1996 ГОДА</span>
        <div class="boots-line__dot"></div>
        <span class="boots-line__text">ДЕЛАЕМ ОБУВЬ С 1996 ГОДА</span>
      </div>
    </div>
</div>