<section class="work-factories">
  <div class="work-factories__wrapper">
    <div class="work-factories__factory">
      <div class="work-factories__factory-title">
        Московская обувная фабрика
      </div>

      <p class="work-factories__factory-address">
        г. Москва, Открытое шоссе, 18 с1
      </p>

      <ul class="work-factories__factory-benefits">
        <li>Официальное трудоустройство, отпуска, больничные</li>
        <li>Компенсация обедов, проезда к месту работы</li>
        <li>Бесплатное обучение с выплатой стипендии</li>
        <li>Помощь в оформлении документов</li>
      </ul>

      <div class="work-factories__factory-footer">
        <!--=include send-resume.html -->
        <!--=include reverse-phone.html -->
      </div>
    </div>
  </div>

  <div class="work-factories__wrapper">
    <div class="work-factories__factory">
      <div class="work-factories__factory-title">
        Зарайская
        обувная фабрика
      </div>

      <p class="work-factories__factory-address">
        г. Зарайск, ул. Карла Маркса, 37
      </p>

      <ul class="work-factories__factory-benefits">
        <li>Предоставим проживание и регистрацию</li>
        <li>Официальное трудоустройство, отпуска, больничные</li>
        <li>Компенсация обедов, проезда к месту работы</li>
        <li>Бесплатное обучение с выплатой стипендии</li>
        <li>Помощь в оформлении документов</li>
      </ul>

      <div class="work-factories__factory-footer">
        <!--=include send-resume.html -->
        <!--=include reverse-phone.html -->
      </div>
    </div>
  </div>

  <div class="work-factories__wrapper">
    <div class="work-factories__factory">
      <div class="work-factories__factory-title">
        Владимирская
        обувная фабрика
      </div>

      <p class="work-factories__factory-address">
        г. Владимир, ул. 19-ый Проезд, 1
      </p>

      <ul class="work-factories__factory-benefits">
        <li>Официальное трудоустройство, отпуска, больничные</li>
        <li>Компенсация обедов, проезда к месту работы</li>
        <li>Бесплатное обучение с выплатой стипендии</li>
        <li>Помощь в оформлении документов</li>
      </ul>

      <div class="work-factories__factory-footer">
        <!--=include send-resume.html -->
        <!--=include reverse-phone.html -->
      </div>
    </div>
  </div>

  <div class="work-factories__wrapper">
    <div class="work-factories__factory">
      <div class="work-factories__factory-title">
        Талдомская
        обувная фабрика
      </div>

      <p class="work-factories__factory-address">
        г. Талдом, Московская область,
        Юржинское шоссе, 3
      </p>

      <ul class="work-factories__factory-benefits">
        <li>Официальное трудоустройство, отпуска, больничные</li>
        <li>Компенсация обедов, проезда к месту работы</li>
        <li>Бесплатное обучение с выплатой стипендии</li>
        <li>Помощь в оформлении документов</li>
      </ul>

      <div class="work-factories__factory-footer">
        <!--=include send-resume.html -->
        <!--=include reverse-phone.html -->
      </div>
    </div>
  </div>
</section>