.main-hero {
  display: flex;
  max-width: 668px;
  max-height: 834px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin: 164px 0 397px 0;

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 17px);
    height: 834px;
    z-index: -1;
    object-fit: cover;
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: $color--white;
    margin-bottom: 74px;

    @media screen and (max-width: 320px) {
      font-size: 36px;
    }
  }

  &__text {
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    line-height: 120%;
    color: $color--white;

    @media screen and (max-width: 768px) {
      font-size: 24px;
    }

    @media screen and (max-width: 320px) {
      font-size: 18px;
    }
  }

  @media screen and (max-width: 768px) {
    margin: 310px 0 400px 0;
    max-height: 1024px;
  }

  @media screen and (max-width: 320px) {
      margin: 131px 0 134px 0;
      max-height: 568px;
  }
}


