.work {
	$root: &;

	&-hero {
		margin-bottom: 280px;

		&__inner {
			max-width: 675px;
			color: $color--white;
			margin: 206px 0 0 auto;

			@media screen and (width <= 1200px) {
				margin: 709px 0 0;
			}

			@media screen and (width <= 767px) {
				margin: 440px 0 0;
			}
		}

		&__description {
			font-size: var(--font-size-24);
			line-height: 120%;
			margin-top: 80px;

			@media screen and (width <= 1200px) {
				color: $color--black;
			}

			@media screen and (width <= 767px) {
				font-size: var(--font-size-18);
				margin-top: 40px;
			}
		}

		&__bg {
			height: 785px;
			position: absolute;
			left: 0;
			right: 0;
			top: 60px;
			z-index: -1;

			@media screen and (width <= 1200px) {
				height: 590px;
			}

			@media screen and (width <= 767px) {
				height: 348px;
			}
		}

		&__title {
			@media screen and (width <= 1200px) {
				color: $color--black;
			}

			@media screen and (width <= 767px) {
				font-size: var(--font-size-36);
			}
		}

		@media screen and (width <= 1200px) {
			margin-bottom: 150px;
		}

		@media screen and (width <= 767px) {
			margin-bottom: 62px;
		}
	}

	&-why {

		&__title {
			margin-bottom: 60px;

			@media screen and (width <= 1200px) {
				margin-bottom: 80px;
			}

			@media screen and (width <= 767px) {
				margin-bottom: 60px;
				font-size: var(--font-size-36);
			}
		}

		&__description {
			text-align: center;
			max-width: 300px;
			margin-inline: auto;
			font-size: var(--font-size-24);
			line-height: 120%;
			margin-top: 20px;
		}

		&__content {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			@media screen and (width <= 1440px) {
				justify-content: center;
			}
		}

		&__icon {
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&__item {
			max-width: 528px;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;

			&:first-child {
				#{$root}-why__icon {
					width: 118px;
					height: 150px;

					@media screen and (width <= 767px) {
						width: 78px;
					}
				}
			}

			&:nth-child(2) {
				#{$root}-why__icon {
					width: 83px;
					height: 150px;

					@media screen and (width <= 767px) {
						width: 55px;
					}
				}

				@media screen and (width <= 901px) {
					margin-top: 60px;
				}
			}

			&:nth-child(3) {
				#{$root}-why__icon {
					width: 170px;
					height: 150px;

					@media screen and (width <= 767px) {
						width: 113px;
					}
				}

				@media screen and (width <= 1430px) {
					margin-top: 60px;
				}
			}

			&:nth-child(4) {
				margin-top: 60px;

				#{$root}-why__icon {
					width: 135px;
					height: 150px;

					@media screen and (width <= 767px) {
						width: 90px;
					}
				}
			}

			&:nth-child(5) {
				margin-top: 60px;

				#{$root}-why__icon {
					width: 174px;
					height: 150px;

					@media screen and (width <= 767px) {
						width: 116px;
					}
				}
			}

			&:nth-child(6) {
				margin-top: 60px;

				#{$root}-why__icon {
					width: 143px;
					height: 150px;

					@media screen and (width <= 767px) {
						width: 95px;
					}
				}
			}

			@media screen and (width <= 1640px) {
				max-width: 461px;
			}

			@media screen and (width <= 1300px) {
				max-width: 427px;
			}

			@media screen and (width <= 767px) {
				#{$root}-why__icon {
					height: 100px !important;
				}
			}
		}
	}

	&-factories {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 92px;

		&__wrapper {
			&:not(:last-child) {
				margin-right: 8px;

				@media screen and (width <= 1185px) {
					margin: 0;
				}
			}

			@media screen and (width <= 1185px) {
				width: 50%;
				display: flex;
				flex-direction: column;
				align-items: center;

				&:nth-child(3),
				&:nth-child(4) {
					margin-top: 20px;
				}
			}

			@media screen and (width <= 767px) {
				width: 100%;

				&:nth-child(2) {
					margin-top: 20px;
				}
			}
		}

		&__factory {
			padding: 26px;
			background-color: $color-grey-1;
			height: 602px;
			max-width: 398px;
			width: 100%;
			display: flex;
			flex-direction: column;

			&-title {
				font-size: var(--font-size-36);
				font-weight: 700;
				margin-bottom: 13px;

				@media screen and (width <= 1440px) {
					font-size: var(--font-size-24);
				}
			}

			&-address {
				color: $color--brand2;
				font-size: var(--font-size-18);
				margin-bottom: 40px;
			}

			&-benefits {
				font-size: var(--font-size-16);

				li {
					padding-left: 16px;
					position: relative;

					&:not(:last-child) {
						margin-bottom: 16px;
					}

					&::before {
						content: '+';
						position: absolute;
						left: 0;
						top: 0;
						font-size: var(--font-size-16);
						color: $color--brand2;
					}
				}
			}

			&-footer {
				margin-top: auto;
			}

			@media screen and (width <= 1640px) {
				max-width: 378px;
				height: 620px;
			}

			@media screen and (width <= 1440px) {
				max-width: 278px;
				height: 602px;
			}

			@media screen and (width <= 1185px) {
				max-width: 350px;
			}

			@media screen and (width <= 767px) {
				margin: 0 auto;
			}
		}
	}

	&-excursion {
		position: relative;
		display: flex;
		margin-top: 100px;

		&__title {
			color: $color--white;
			max-width: 948px;
			width: 100%;
			height: 840px;

			&-inner {
				max-width: 676px;
				padding: 113px 0 0 135px;
			}
		}

		&__form {
			display: flex;
			flex-direction: column;
			align-items: center;
			max-width: 476px;
			margin: 0 auto;

			&-wrapper {
				background-color: $color-grey-1;
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			&-input {
				border: none;
				padding: 16px;
				width: 100%;
				color: $color--black;

				&:not(:last-child) {
					margin-bottom: 8px;
				}

				&::placeholder {
					color: $color-grey-2;
				}
			}
		}

		&__bg {
			height: 840px;
			max-width: 948px;
			width: 100%;
			position: absolute;
			left: 0;
			bottom: 0;
			top: 0;
			z-index: -1;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&__policy {
			font-size: var(--font-size-18);
			margin: 40px 0 80px;
		}
	}
}
